<tr [routerLink]="unit.unitNumber" routerLinkActive="active">
        <td>
          {{unit.unitNumber}} 
        </td>
        <td>
          {{unit.unitType.unitTypeName}}
        </td>
        <td>
          {{unit.unitDescription}}
        </td>
        <td>
          {{unit.unitLocation}}
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.UnitID">Edit</a> 
            <br>
            <a asp-action="Details" asp-route-id="@item.UnitID">Details</a> 
            <br>
            <a asp-action="Delete" asp-route-id="@item.UnitID">Delete</a>
        </td>
</tr>